.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #16161a; /* Đen nhạt 30%, có thể điều chỉnh */
    color: white;
    z-index: 999;
    font-size: 24px;
    font-weight: bold;
}
.actions {
    display: flex;
    gap: 16px;
}
.btn-download,
.btn-login {
    font-family: 'jetBrains Mono';
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}